name: Build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: npm install
      - run: node_modules/@vscode/vsce/vsce package
      - uses: actions/upload-artifact@v4
        with:
          retention-days: 15
          path: "*.vsix"
